body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  color: #444a73;
  background: #1C1C1C;
}
.footer{
  background: green;
}
a{
  color: #444a73;
  text-decoration: none;
}
.icon img{
  width: 500px;
}
.icon{
  text-align: center;
}

.paralax{
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background: url("/static/iron2.jpg");
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.first-row-box-properties, .second-row-box-properties{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.first-row-box-properties{
  margin-bottom: 5px;
}
.second-row-box-properties{
}
.box{
  background: #fff;
  padding: 40px 20px 40px 20px;
  width: 400px;
  font-size: 5em;
  border: 30px solid #1C1C1C;
  letter-spacing: 5px;
}
.box p{
  font-family: "Arial Black";
  color: #1C1C1C;
  margin: 0;
}
.showcase{
  margin-left: 10em;
  margin-right: 10em;
  color: #1C1C1C;
  font-family: "Arial Black";
  letter-spacing: 3px;
  text-align: center;
  min-height: 920px;
  background: #fff;
  opacity: 0.9;
  border-left: 20px solid #606060;
  border-right: 20px solid #606060;
  padding: 20px;
}

.home-content{
}

.models{
  display: flex;
}

.showcase, .about, .temporary{
  display: block;
}
.hide {
  display: none;
}
